{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: #e3f2fd;
        /* Light blue background */
    }

    .admin-dashboard {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    h1,
    h2 {
        color: #0275d8;
        /* Bootstrap primary color */
    }

    .btn-primary,
    .btn-secondary,
    .btn-danger {
        margin-right: 10px;
    }
</style>
<h1>Ice Skating Club Sign-In</h1>
<p><a href="{{ url_for('login') }}" class="btn btn-admin">Admin Login</a></p>
{% endblock %}